* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* adaptar las imagenes a mi sistema de columnas se */
img {
    width: 100%;
    height: auto;
    display: block;
    /*cambia los elementos en linea que no tienen ni ancho ni alto por elementos en bloque*/
}

.flex {
    display: flex;
}

article {
    width: 33, 333%;
}

/* inicio del header*/
header {
    background-color: gray;
    padding: 20px;
}

header .container {
    max-width: 1004px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style: none;
}

header .menu li {
    display: inline-block;
}

header .menu li a {
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    transition: 1s;
    text-decoration: none;

}

header .menu li a:hover {
    background-color: bisque;
    color: black;
}



/* fin de header*/